<div class="container-fluid mb-5">
    <div class="row pt-3 pb-3">
        <div class="col-12" align="center">
            <h2 class="theme-color">Amistee Contact Mangement System Version 02</h2>
        </div>
    </div>
    <div class="row pt-3 pb-3">
        <div class="col-4" align="center">
        </div>
        <div class="col-8" align="center">
            <div class="form-inline">
                <div class="row">
                    <div class="form-group">
                        <label>Assigned To: </label>
                        <select [(ngModel)]="assignedToModel" class="form-control ml-2">
                            <option value="Sanjay Patel">Sanjay Patel</option>
                            <option value="Rohit Laughani">Rohit Laughani</option>
                        </select>
                    </div>
                    <div class="form-group pl-2">
                        <label>From: </label>
                        <input type="text" [bsConfig]='dateConfig' [(ngModel)]="fromDateModel" placeholder="From date" class="form-control ml-2" bsDatepicker>
                    </div>
                    <div class="form-group pl-2">
                        <label>To: </label>
                        <input type="text" [bsConfig]='dateConfig' [(ngModel)]="toDateModel" placeholder="To date" class="form-control ml-2" bsDatepicker>
                    </div>
                    <div class="form-group pl-2">
                        <button (click)="doSearch()" class="btn btn-primary submit-btn"> Search</button>
                        <button (click)="resetFilters()" class="btn ml-3 btn-primary"> Reset</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <ngx-datatable class="material cm02" [columnMode]="'force'" [limit]="pageSize" [footerHeight]="50" [headerHeight]="50" [rowHeight]="'auto'" [rows]="rows" [columns]="columns">
                <ngx-datatable-column name="Name"></ngx-datatable-column>
                <ngx-datatable-column name="Email"></ngx-datatable-column>
                <ngx-datatable-column name="Phone"></ngx-datatable-column>
                <!-- <ngx-datatable-column name="State"></ngx-datatable-column> -->
                <!-- <ngx-datatable-column name="City"></ngx-datatable-column> -->
                <ngx-datatable-column name="Push to mHelpDesk"></ngx-datatable-column>
                <ngx-datatable-column name="Assigned To">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-selectModel="value" let-value="value" let-row="row">
                        <select [ngModel]="value" class="form-control" (change)="updateValue($event, 'assignedTo', rowIndex)">
                            <option value="Sanjay Patel">Sanjay Patel</option>
                            <option value="Rohit Laughani">Rohit Laughani</option>
                        </select>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Notes">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        <textarea class="form-control" autofocus (blur)="updateValue($event, 'notes', rowIndex)" type="text" [value]="value"></textarea>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Message">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        <textarea class="form-control" autofocus (blur)="updateValue($event, 'message', rowIndex)" type="text" [value]="value"></textarea>
                    </ng-template>
                </ngx-datatable-column>
                <ngx-datatable-column name="Update">
                    <ng-template ngx-datatable-cell-template let-rowIndex="rowIndex" let-value="value" let-row="row">
                        <button (click)="doUpdate(row)" class="btn btn-primary submit-btn"> Update</button>
                    </ng-template>
                </ngx-datatable-column>
            </ngx-datatable>
        </div>
    </div>
</div>
<alert [type]="alert.type" [dismissible]="true" dismissOnTimeout="5000" *ngIf="displayAlert">{{ alert.message }}</alert>
<ngx-spinner></ngx-spinner>